# default target: ESP-C3-01M
CONFIG_IDF_TARGET_ARCH_RISCV=y
CONFIG_IDF_TARGET_ARCH="riscv"
CONFIG_IDF_TARGET="esp32c3"
CONFIG_IDF_TARGET_ESP32C3=y

# custom options: wifi
CONFIG_EXAMPLE_SCAN_LIST_SIZE=10
CONFIG_EXAMPLE_WIFI_SSID="test"
CONFIG_EXAMPLE_WIFI_PASS="test"

# custom options: mqtt broker url
CONFIG_EXAMPLE_BROKER_URL="mqtt://192.168.88.254"

# custom options: button
CONFIG_EXAMPLE_GPIO_INPUT=9
