# default target: ESP-C3-01M
CONFIG_IDF_TARGET_ARCH_RISCV=y
CONFIG_IDF_TARGET_ARCH="riscv"
CONFIG_IDF_TARGET="esp32c3"
CONFIG_IDF_TARGET_ESP32C3=y

# custom configuration: LEDs
CONFIG_ENV_GPIO_RANGE_MIN=0
CONFIG_ENV_GPIO_RANGE_MAX=19
CONFIG_ENV_GPIO_IN_RANGE_MAX=19
CONFIG_ENV_GPIO_OUT_RANGE_MAX=19
CONFIG_GPIO_LED_RED=3
CONFIG_GPIO_LED_GREEN=4
CONFIG_GPIO_LED_BLUE=5
CONFIG_RED_TIME_MS=5000
CONFIG_GREEN_TIME_MS=5000
CONFIG_GREEN_FLASH_TIME_MS=500
CONFIG_GREEN_FLASH_COUNT=6
CONFIG_YELLOW_TIME_MS=3000
